@model IEnumerable<WebGiaiTrii.Models.Nature>

@{
    ViewBag.Title = "ListHouse";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .blog-column {
        max-width: 200px; /* Đặt chiều rộng tùy chọn theo ý muốn */
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer; /* Thêm style con trỏ để biểu thị có thể click */
    }

    .full-blog {
        white-space: normal;
        max-width: none;
        overflow: visible;
    }
</style>

<script>
    $(document).ready(function () {
        $(".blog-column").click(function () {
            $(this).toggleClass("full-blog");
        });

        $('[data-toggle="tooltip"]').tooltip(); // Khởi tạo Tooltip
    });
</script>
<h3 class="box-title">List Natures</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="table-responsive">
    <table class="table text-nowrap">

        <thead>
            <tr>
                <th class="border-top-0">#</th>
                <th class="border-top-0"> Name</th>
                <th class="border-top-0"> Image </th>
                <th class="border-top-0"> Image 02 </th>
                <th class="border-top-0"> Image 03 </th>
                <th class="border-top-0"> Image 04 </th>
                <th class="border-top-0">Note</th>
                <th class="border-top-0">Blog</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img src="@item.Image" style="height:100px;width:100px" />
                    </td>
                    <td>
                        <img src="@item.Imagee" style="height:100px;width:100px" />
                    </td>
                    <td>
                        <img src="@item.Image03" style="height:100px;width:100px" />
                    </td>
                    <td>
                        <img src="@item.Image04" style="height:100px;width:100px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td class="blog-column" data-toggle="tooltip" data-placement="top" title="@item.Blog">
                        @Html.DisplayFor(modelItem => item.Blog)
                    </td>

                    <td>
                        @Html.ActionLink("Update", "Update", new { id = item.ID }) |
                        @Html.ActionLink("Drop", "Drop", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
