@model WebGiaiTrii.Models.Nature

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>


@using (Html.BeginForm("Update", "Nature", FormMethod.Post, new { enctype = "multipart/form-data" }))  // ảnh

{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID) // update
    <div class="form-horizontal">
        <h4>Natures</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file1" class="form-control" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <div>
                        <img src="@Url.Content(Model.Image)" alt="Current Image" style="max-width: 100px; max-height: 100px;" />
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("deleteImage1") Delete current image
                        </label>
                    </div>
                    @Html.HiddenFor(model => model.Image)
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Imagee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file2" class="form-control" />
                @Html.ValidationMessageFor(model => model.Imagee, "", new { @class = "text-danger" })
                @if (!string.IsNullOrEmpty(Model.Imagee))
                {
                    <div>
                        <img src="@Url.Content(Model.Imagee)" alt="Current Image" style="max-width: 100px; max-height: 100px;" />
                    </div>
                    <input type="checkbox" name="deleteImage1" />
                    @Html.HiddenFor(model => model.Imagee)
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image03, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file3" class="form-control" />
                @Html.ValidationMessageFor(model => model.Image03, "", new { @class = "text-danger" })
                @if (!string.IsNullOrEmpty(Model.Image03))
                {
                    <div>
                        <img src="@Url.Content(Model.Image03)" alt="Current Image" style="max-width: 100px; max-height: 100px;" />
                    </div>
                    <input type="checkbox" name="deleteImage1" />
                    @Html.HiddenFor(model => model.Image03)
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image04, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file4" class="form-control" />
                @Html.ValidationMessageFor(model => model.Image04, "", new { @class = "text-danger" })
                @if (!string.IsNullOrEmpty(Model.Image04))
                {
                    <div>
                        <img src="@Url.Content(Model.Image04)" alt="Current Image" style="max-width: 100px; max-height: 100px;" />
                    </div>
                    <input type="checkbox" name="deleteImage1" />
                    @Html.HiddenFor(model => model.Image04)
                }
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Blog, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Blog, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Blog, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

