
@{
    ViewBag.Title = "Nature Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:red" class="subscribe-input-label">@Model.Note </h2>

<h2 style="color:red" class="subscribe-input-label">@Model.Blog </h2>

<img style="height:200px;width:200px" src=" @Model.Image " alt="">
<img style="height:200px;width:200px" src=" @Model.Imagee " alt="">
<img style="height:200px;width:200px" src=" @Model.Image03 " alt="">
<img style="height:200px;width:200px" src=" @Model.Image04 " alt="">